

<div class="wrapper wrapper-content" ng-controller="form as vm">
    <div class="row">
        <div class="col-sm-12">
            <form role="form" class="form-horizontal">
                <div class="col-lg-12">
                    <div class="tabs-container">

                        <uib-tabset>
                            <uib-tab heading="Add Item">
                                <div class="panel-body">

                                    <form class="form-horizontal">

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Type</label>

                                            <div class="col-sm-10">
                                                <select class="form-control m-b" data-ng-model="vm.form.raw" ng-init="vm.form.raw = vm.form.raw || vm.raws[0].Name"
                                                        data-ng-options="raw.Name for raw in vm.raws"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">From</label>

                                            <div class="col-lg-10">
                                                <select class="form-control m-b" data-ng-model="vm.form.from" ng-init="vm.form.from = vm.form.from || vm.stores[0].Name"
                                                        data-ng-options="store.Name for store in vm.stores"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">To</label>

                                            <div class="col-lg-10">
                                                <select class="form-control m-b" data-ng-model="vm.form.To" ng-init="vm.form.To = vm.form.To || vm.stores[0].Name"
                                                        data-ng-options="store.Name for store in vm.stores"></select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Kg</label>

                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" placeholder="kilograms">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Bags</label>

                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" placeholder="bags">
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button class="btn btn-white" type="submit">Cancel</button>
                                                <button class="btn btn-primary" type="submit">Save</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </uib-tab>
                            <uib-tab heading="Stores">
                                <div class="panel-body">

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-stripped">
                                            <thead>
                                            <tr>
                                                <th width="70">
                                                    Position
                                                </th>
                                                <th>
                                                    Store <a ng-click="vm.add(vm.stores)" class="btn btn-primary btn-xs"> <i class="fa fa-plus"></i> add store</a>
                                                </th>
                                                <th width="30">
                                                    Hide
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-ng-model="vm.stores" data-ng-repeat="store in vm.stores track by $index">
                                                <td>
                                                    <div class="vote-actions text-center">
                                                        <a ng-click="up($index,vm.stores)">
                                                            <i class="fa fa-chevron-up"> </i>
                                                        </a>
                                                        <div>{{$index+1}}</div>
                                                        <a ng-click="down($index,vm.stores)">
                                                            <i class="fa fa-chevron-down"> </i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <!--<h4 class="text-center"></h4>-->
                                                    <input data-ng-model="store.Name" type="text" placeholder="raw name" class="form-control">
                                                </td>
                                                <td>
                                                    <input icheck type="checkbox" ng-model="store.hide" />
                                                    <!--<button ng-click="hide($index)" class="btn btn-default"><i class="fa fa-trash"></i> Hide</button>-->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="pull-right">
                                            <button class="btn btn-white" type="submit">Cancel</button>
                                            <button class="btn btn-primary" type="submit">Save</button>
                                        </div>
                                    </div>

                                </div>
                            </uib-tab>

                            <uib-tab heading="Raws">
                                <div class="panel-body">

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-stripped">
                                            <thead>
                                                <tr>
                                                    <th width="70">
                                                        Position
                                                    </th>
                                                    <th>
                                                        Store <a ng-click="vm.add(vm.raws)" class="btn btn-primary btn-xs"> <i class="fa fa-plus"></i> add raw</a>
                                                    </th>
                                                    <th width="30">
                                                        Hide
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-model="vm.stores" data-ng-repeat="raw in vm.raws track by $index">
                                                    <td>
                                                        <div class="vote-actions text-center">
                                                            <a ng-click="up($index,vm.raws)">
                                                                <i class="fa fa-chevron-up"> </i>
                                                            </a>
                                                            <div>{{$index+1}}</div>
                                                            <a ng-click="down($index,vm.raws)">
                                                                <i class="fa fa-chevron-down"> </i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <!--<h4 class="text-center"></h4>-->
                                                        <input data-ng-model="raw.Name" type="text" placeholder="store name" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input icheck type="checkbox" ng-model="raw.hide" />
                                                        <!--<button ng-click="hide($index)" class="btn btn-default"><i class="fa fa-trash"></i> Hide</button>-->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="pull-right">
                                            <button class="btn btn-white" type="submit">Cancel</button>
                                            <button class="btn btn-primary" type="submit">Save</button>
                                        </div>
                                    </div>

                                </div>
                            </uib-tab>
                        </uib-tabset>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--<div class="row">

        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Add Item</h5>

                    <div ibox-tools="" class="ng-scope">
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal ng-pristine ng-valid">
                        <p>Fulfill form.</p>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Type</label>

                            <div class="col-sm-10">
                                <select class="form-control m-b" name="account">
                                    <option value="option 1">Bones</option>
                                    <option value="option 2">Seashells</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">From</label>

                            <div class="col-lg-10">
                                <select class="form-control m-b" data-ng-model="vm.form.from" ng-init="vm.form.from = vm.form.from || vm.stores[0].Name"
                                        data-ng-options="store.Name for store in vm.stores"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">To</label>

                            <div class="col-lg-10">
                                <select class="form-control m-b" data-ng-model="vm.form.To" ng-init="vm.form.To = vm.form.To || vm.stores[0].Name"
                                        data-ng-options="store.Name for store in vm.stores"></select>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <div class="icheckbox_square-green checked" style="position: relative;">
                                    <input icheck="" type="checkbox" ng-model="main.checkOne" class="ng-pristine ng-untouched ng-valid ng-not-empty" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                </div><i></i> Remember me
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="submit">Cancel</button>
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>-->
</div>


