<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="m-t-none m-b">Edit {{ modal.user.Name }}</h3>


            <form role="form" class="form-horizontal">
                <!--<div class="form-group">
                    <label class="col-lg-12">Edit Email(optional)</label>
                    <label class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10"><input data-ng-model="modal.user.Name" type="email" placeholder="Enter email" class="form-control"></div>
                    
                </div>
                <div class="hr-line-dashed"></div>
                <label class="col-lg-12">Edit Password(optional)</label>-->
                <!--<div class="form-group">

                    <label class="col-lg-2 control-label">Old </label>
                    <div class="col-lg-10">
                        <input data-ng-model="modal.user.Password" type="password" placeholder="Password" class="form-control">
                    </div>
                    
                </div>-->
                <!--<div class="form-group">
                    <label class="col-lg-2 control-label">New </label>
                    <div class="col-lg-10">
                        <input data-ng-model="modal.user.ConfirmPassword" type="password" placeholder="Password" class="form-control">
                    </div>
                    
                </div>-->
                <div class="hr-line-dashed"></div>
                <label class="col-lg-12">Edit User Role(optional)</label>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Role</label>
                    <div class="col-lg-10">
                        <select class="form-control" data-ng-model="modal.user.Role" ng-init="modal.user.Role = modal.user.Role || modal.roles[0].Id"
                                data-ng-options="role.Id as role.Name for role in modal.roles"></select>
                    </div>
                    
                </div>
                <div class="pull-right">
                    <br />
                    <button class="btn btn-sm btn-primary" type="submit" ng-click="ok(user)"><strong>Save</strong></button>
                    <button class="btn btn-sm btn-white" type="submit" ng-click="cancel()"><strong>Cancel</strong></button>

                    <!--<label> <input icheck type="checkbox" ng-model="main.unCheck"> Remember me </label>-->
                </div>
            </form>
        </div>
    </div>
</div>